{% extends "base.html" %}
{% block title %}Carro form{% endblock %}

{% block head %}
{% endblock %}
{% block content %}
    <div class="container">
        <form method="post">

            <div class="form-group">
                <label for="exampleInputEmail1">Marca</label>
                <input type="text" name="marca" class="form-control"  placeholder="Marca">
            </div>
            <div class="form-group">
                <label>Placa</label>
                <input type="text" name="placa" class="form-control" placeholder="Placa">
            </div>
            <div class="form-group">
                <label>Modelo</label>
                <input type="text" name="modelo" class="form-control" placeholder="Modelo">
            </div>

            <input type="submit" value="Cadastrar" class="btn btn-primary">Enviar</input>
        </form>
    </div>
{% endblock %}
{% block footer%}
{% endblock %}
