{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block head %}
{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
    <h2>Cliente</h2>
    <div class="card">
        <div class="card-body">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.nome.label(class="form-label") }}
            {{ form.nome(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.id_carro.label(class="form-label") }}
            {{ form.id_carro(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.endereco.label(class="form-label") }}
            {{ form.endereco(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.telefone.label(class="form-label") }}
            {{ form.telefone(class="form-control") }}
        </div>
    </div>
    </div>
    <div class="card">
        <div class="card-body">

        <button type="submit" class="btn btn-primary">Criar Cliente</button>
        </div>
    </div>
    </form>
</div>
</div>
</div>
{% endblock %}
{% block footer%}
{% endblock %}
